<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29869415216-hdq04s19nb1jr86296q8tcft48e3g0od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29869415216-hdq04s19nb1jr86296q8tcft48e3g0od</string>
	<key>API_KEY</key>
	<string>AIzaSyB8WIy6ZOu6RysaGRkS2c-D17y8U83gCsM</string>
	<key>GCM_SENDER_ID</key>
	<string>29869415216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamansari.rapidCurePharmacy</string>
	<key>PROJECT_ID</key>
	<string>rapid-cure-pharmacy</string>
	<key>STORAGE_BUCKET</key>
	<string>rapid-cure-pharmacy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29869415216:ios:5d1fea7341461dd93b86f5</string>
</dict>
</plist>